<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268665745272-g7gfque1gser1r5ooi55c3i8vk9g3oil.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268665745272-g7gfque1gser1r5ooi55c3i8vk9g3oil</string>
	<key>API_KEY</key>
	<string>AIzaSyC52sAwfvUH1_tULp2Er12nVGVCh1FgbKM</string>
	<key>GCM_SENDER_ID</key>
	<string>268665745272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhammad.CyperPunkMatrix</string>
	<key>PROJECT_ID</key>
	<string>cyperpunkmatrix</string>
	<key>STORAGE_BUCKET</key>
	<string>cyperpunkmatrix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268665745272:ios:360fca6523b3a54416e28d</string>
</dict>
</plist>